*{
	padding: 0px;
	margin: 0px;
	font-family: arial;
}
#container{
	width: 620px;
	margin: 0px auto;
	padding: 20px 10px;
	border: 1px solid black;
}
#left_side{
	width: 300px;
}
#right_side{
	width: 300px;
}
#right_side,#left_side{
	display: inline-block;
	vertical-align: top;
}
input{
	padding: 5px 0px;
	margin: 10px 0px;
	display: block;
}
textarea{
	padding: 5px 0px;
	margin: 10px 0px;
	display: block;
}
ul{
	list-style: none;
}
li{
	list-style: none;
	padding: 5px;
	border: 1px solid black;
	text-align: center;
	margin-bottom: 10px;
}

